*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto; 
}

header {
    width: 100%;
    height: 140px;
    background-color: #469387;
    position: fixed;
}

.logo{
    width:  30%;
    width: left;
    text-align: left;
    height: 140px;
    width: auto;
}

nav {
    float: right;
    line-height: 150px;
}

nav a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    color: white;
    padding: 36px 10px;
    margin: 0 1px;
    font-weight: 500;
}

nav a:hover{
    background:white;
    color: black;
    font-weight: 700;
}

h1{
   text-align: center; 
   font-size: 35px;
   padding-top: 150px;
   margin: 0%;
}

.middle{
    background-color: #aad3dc;
}

.ImageTop {
    display: block;
    margin: auto;
    width: 50%;
    border-width: 2px;
    border-style: solid;
}

.Desc1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: large;
}

.ImageMid{
    float: left;
    border: solid;
}

.joinus {
    display: block;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
    width: 70%;
}

.desc2 {
    padding-top: 5%;
}

.ImageBot {
    float: right;
    border: solid;
}

.Youth{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    text-align: center;
    width: 70%;
    padding-top: 3%;
    padding-bottom: 5%
}

.desc3 {
    padding-top: 5%;
}

.Email{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    width: 70%;
    border-top: solid;
}

body{
    background-color: #469387;
}

